<div style="background-color: #fff;margin-top: 25px;padding:20px; margin-right:5%;margin-left:5%; border-radius:25px">
<h3><a class="btn btn-secondary" href="/events"><i class="fa fa-plus"></i> Create New</a> Exhibits List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Code</th>
            <th>Id_Admin</th>
            <th>Registration Date</th>
            <th>Title</th>
            {{!-- <th>Text</th> --}}
            <th>Start Day</th>
            <th>Expire Day</th>
            <th>Last Change Day</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.code}}</td>
            <td>{{this.Id_admin}}</td>
            <td>{{this.registration_date}}</td>
            <td>{{this.title}}</td>
            {{!-- <td>{{this.text}}</td> --}}
            <td>{{this.start_day}}</td>
            <td>{{this.expire_day}}</td>
            <td>{{this.last_change_day}}</td>
            <td>{{this.img}}</td>
            <td>
                <a href="/events/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/events/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>