<h3>{{viewTitle}}</h3>

<form action="/exhibits" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{exhibits._id}}">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Object Name</label>
            <input type="text" class="form-control" name="object_name" placeholder="Object Name" value="{{exhibits.object_name}}">
        </div>
         <div class="form-group col-md-6">
            <label>Dimensions</label>
            <input type="text" class="form-control" name="dimensions" placeholder="Dimensions" value="{{exhibits.dimensions}}">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Description</label>
            <input type="text" class="form-control" name="ex_description" placeholder="Description" value="{{exhibits.ex_description}}">
        </div>
        <div class="form-group col-md-6">
            <label>Period</label>
            <input type="text" class="form-control" name="period" placeholder="Period" value="{{exhibits.period}}">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Image</label>
            <input type="text" class="form-control" name="img" placeholder="Image" value="{{exhibits.img}}">
        </div>
        <div class="form-group col-md-6">
            <label>Material</label>
            <input type="text" class="form-control" name="material" placeholder="Material" value="{{exhibits.material}}">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Subcollection</label>
            <input type="text" class="form-control" name="subcollection" placeholder="Subcollection" value="{{exhibits.subcollection}}">
        </div>
        <div class="form-group col-md-6">
            <label>Early Date</label>
            <input type="text" class="form-control" name="early_date" placeholder="Early Date" value="{{exhibits.early_date}}">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Late Date</label>
            <input type="text" class="form-control" name="last_date" placeholder="Late Date" value="{{exhibits.last_date}}">
        </div>
        <div class="form-group col-md-6">
            <label>Origins</label>
            <input type="text" class="form-control" name="origins" placeholder="Origins" value="{{exhibits.origins}}">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Object type</label>
            <input type="text" class="form-control" name="object_type" placeholder="Object type" value="{{exhibits.object_type}}">
        </div>
        <div class="form-group col-md-6">
            <label>Path</label>
            <input type="text" class="form-control" name="path" placeholder="Path" value="{{exhibits.path}}">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Culture</label>
            <input type="text" class="form-control" name="culture" placeholder="Culture" value="{{exhibits.culture}}">
        </div>
        <div class="form-group col-md-6">
            <label>Last Change Day</label>
            <input type="text" class="form-control" name="last_change_day" placeholder="last_change_day" value="{{exhibits.last_change_day}}">
        </div>
    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-info" style="background-color:  #922222;" href="/exhibits/list"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/exhibits/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
    
</form>