<h3>{{viewTitle}}</h3>
<form action="/events" method="POST" autocomplete="off" id="form" enctype="multipart/form-data">
    <input type="hidden" name="_id" value="{{events._id}}">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Id Admin</label>
            <input type="text" class="form-control" name="Id_admin" placeholder="Id admin" value="{{events.Id_admin}}">
        </div>
         <div class="form-group col-md-6">
            <label>Registration Date</label>
            <input type="text" class="form-control" name="registration_date" placeholder="Registration Date" value="{{events.registration_date}}">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Title</label>
            <input type="text" class="form-control" name="title" placeholder="Title" value="{{events.title}}">
        </div>
        <div class="form-group col-md-6">
            <label>Text</label>
            <input type="text" class="form-control" name="text" placeholder="Text" value="{{events.text}}">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Start Day</label><br>
            <input type="file" id="files" placeholder="Start Day" name="start_day" value="{{events.start_day}}">
            {{!-- <input type="submit"> --}}
        </div>
        <div class="form-group col-md-6">
            <label>Expire Day</label>
            <input type="text" class="form-control" name="expire_day" placeholder="Expire Day" value="{{events.expire_day}}">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Last Change Day</label>
            <input type="text" class="form-control" name="last_change_day" placeholder="Last Change Day" value="{{events.last_change_day}}">
        </div>
        <div class="form-group col-md-6">
            <label>Image</label><br>
            <input type="file" id="files" name="filetoupload" name="img" value="{{events.img}}">
            {{!-- <input type="submit"> --}}
        </div>
    </div>
   
    <div class="form-group">
            <button type="submit" class="btn btn-info" style="background-color:  #922222;" href="/events/list"><i class="fa fa-database"></i> Submit</button>
            <a class="btn btn-secondary" href="/events/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>

{{!-- <script src='../../static/js/scriptupload.js'></script> --}}