<div style="background-color: #fff;margin-top: 25px;padding:20px; max-width:100%; margin-left:34%; margin-bottom:5%; border-radius:25px">
<h3>{{viewTitle}}</h3>
<form action="/exhibits" method="POST" autocomplete="off" id="form" enctype="multipart/form-data">
    <input type="hidden" name="_id" value="{{exhibits._id}}">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Object Name</label>
            <input type="text" class="form-control" name="object_name" placeholder="Object Name" value="{{exhibits.object_name}}">
        </div>
         <div class="form-group col-md-6">
            <label>Exhibit_Id</label>
            <input type="text" class="form-control" name="Exhibit_Id" placeholder="Exhibit_Id" value="{{exhibits.Exhibit_Id}}">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Description</label>
            <input type="text" rows = "3" class="form-control" name="ex_description" placeholder="Description" value="{{exhibits.ex_description}}">
        </div>
        <div class="form-group col-md-6">
            <label>Period</label>
            <input type="text" class="form-control" name="period" placeholder="Period" value="{{exhibits.period}}">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Image</label><br>
            <input type="file" id="files" name="filetoupload" name="img" value="{{exhibits.img}}">
            {{!-- <input type="submit"> --}}
        </div>
        <div class="form-group col-md-6">
            <label>Made of</label>
            <input type="text" class="form-control" name="made_of" placeholder="made_of" value="{{exhibits.made_of}}">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Subcollection</label>
            <input type="text" class="form-control" name="sub_collection" placeholder="sub_collection" value="{{exhibits.sub_collection}}">
        </div>
        <div class="form-group col-md-6">
            <label>Early Date</label>
            <input type="text" class="form-control" name="early_date" placeholder="Early Date" value="{{exhibits.early_date}}">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Late Date</label>
            <input type="text" class="form-control" name="late_date" placeholder="Late Date" value="{{exhibits.late_date}}">
        </div>
        <div class="form-group col-md-6">
            <label>Origins</label>
            <input type="text" class="form-control" name="origins" placeholder="Origins" value="{{exhibits.origins}}">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Object type</label>
            <input type="text" class="form-control" name="object_type" placeholder="Object type" value="{{exhibits.object_type}}">
        </div>
        <div class="form-group col-md-6">
            <label>Path</label>
            <input type="text" class="form-control" name="path" placeholder="Path" value="{{exhibits.path}}">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Culture</label>
            <input type="text" class="form-control" name="culture" placeholder="Culture" value="{{exhibits.culture}}">
        </div>
        <div class="form-group col-md-6">
            <label>Collection</label>
            <input type="text" class="form-control" name="coll" placeholder="collection" value="{{exhibits.coll}}">
        </div>
        
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label>Description</label>
            <textarea rows = "3" class="form-control" name="ex_description" placeholder="Description">{{exhibits.ex_description}}</textarea>
        </div>
    </div>
    <div class="form-group">
            <button type="submit" class="btn btn-info" style="background-color:  #922222;" href="/exhibits/list"><i class="fa fa-database"></i> Submit</button>
            <a class="btn btn-secondary" href="/exhibits/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>
</div>
{{!-- <script src='../../static/js/scriptupload.js'></script> --}}